.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 19px;
}

.modal_opened {
  display: flex;
}

.modal__container {
  background-color: #fff;
  position: relative;
  margin: auto;
  max-width: 430px;
  max-height: 330px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.modal__close-button {
  background-image: url(../images/Close\ Icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.modal__close-button:hover {
  transform: rotate(-45deg);
}

.modal__heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000000;
  margin: 34px 36px 0px 36px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin-left: 36px;
  margin-right: 36px;
}

.modal__form-title {
  margin-top: 54px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  height: 27px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

.modal__form-description {
  margin-top: 30px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  height: 27px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

.modal__save-button {
  margin-top: 48px;
  border-radius: 2px;
  background-color: #000000;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  height: 50px;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.modal__save-button:hover {
  opacity: 0.8;
}

.preview-modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 19px;
}

.preview-modal_opened {
  display: flex;
}

.preview-modal__container {
  position: relative;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.preview-modal__close-button {
  background-image: url(../images/Close\ Icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.preview-modal__close-button:hover {
  transform: rotate(-45deg);
}

.preview-modal__image {
  max-height: 75vh;
  max-width: 75vw;
}

.preview-modal__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  padding-top: 10px;
  margin: 0;
}

@media screen and (max-width: 570px) {
  .modal__container {
    max-width: 282px;
    max-height: 322px;
  }

  .modal__close-button {
    top: -47px;
    right: 0;
    width: 26px;
    height: 26px;
  }

  .modal__heading {
    font-size: 18px;
    margin: 25px 22px 0px 22px;
  }

  .modal__form {
    margin-left: 22px;
    margin-right: 22px;
  }

  .modal__form-title {
    margin-top: 75px;
  }

  .modal__save-button {
    margin-top: 45px;
    font-size: 14px;
    height: 46px;
  }

  .preview-modal__close-button {
    width: 30px;
    height: 30px;
    top: -35px;
    right: -35px;
  }
}

@media screen and (max-width: 405px) {
  .preview-modal__close-button {
    right: -25px;
  }
}
