.page {
  background-color: black;
  color: white;
  margin: 0;
  cursor: pointer;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 339px) {
  .page__section {
    margin-left: 20px;
    margin-right: 20px;
    max-width: calc(100% - 40px);
  }
}
